@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Raleway:wght@300&family=Roboto:wght@100;300;400&display=swap");
@import url("https://necolas.github.io/normalize.css/8.0.1/normalize.css");


/*-----------------------------------------------------Css Booki-----------------------------------------*/
:root {
    --blue: #0065FC;
    --light-blue: #DEEBFF;
    --grey: #e4e4e4;
    --dark: #000;
    --white: #FFF;
    --blue2: #c6d9f5;
}

body {
    max-width: 1440px;
    font-family: 'Raleway', sans-serif;
    margin: auto;
    padding: 0 20px;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}


/*----------------------Début nav-----------------*/
nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 27px;
}


nav img {
    width: 80px;
    height: 25px;
    left: 0px;
    top: 0px;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    color: var(--dark);
    border: solid var(--white) 1px;
    border: none;
}


nav ul li {
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
}

nav ul a:hover {
    color: var(--blue);
}

nav a {
    padding: 39px 26px;
}

nav a:hover,
nav a:focus {
    border-top: 2px solid var(--blue);
    color: var(--blue);
}


/*nav a:hover::before {
    content: "";
    display: block;
    position: absolute;
    top: -42.5px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #0065FC;
}*/

nav a {
    text-decoration: none;
    color: var(--dark);
}

/*----------------------Début header----------------*/

header {
    padding-top: 20px;
    flex-wrap: wrap;
}


/*form i {
    border: 1px solid var(--grey);
    border-radius: 15px 0px 0px 15px;
    padding: 15px 13px;
    font-size: 1em;
    font-weight: 500;
    background-color: #d4d5d6;
    color: var(--white);
}*/

header i.fa-location-dot {
    color: var(--dark);
    background-color: var(--grey);
    padding: 15px 13px;
    border-radius: 15px 0px 0px 15px;
}


.desktop-button {
    border: 1px solid var(--grey);
    border-radius: 0 15px 15px 0;
    padding: 15px 13px;
    font-size: 1em;
    font-weight: 500;
    background-color: var(--blue);
    color: var(--white);
    margin-left: -4.5px;
    cursor: pointer;
    font-weight: bold;
}

.desktop-button:hover {
    box-shadow: 0 8px 16px 0 var(--dark);
}

.desktop-button:active {
    box-shadow: 0 10px 18px 0 var(--dark);
}

.mobile-button {
    display: none;
    /*position: relative;
    right: 20px;
    border: none;
    border-radius: 15px;
    padding: 15px;
    font-size: 16px;
    cursor: pointer;
    background-color: #0065fc;
    color: white;*/
}

header i.fa-location-dot {
    color: var(--dark);
}

header input {
    padding: 15px 13px;
    margin-left: -4.5px;
    border: 1px solid var(--grey);
    border: hidden;
}

header ::placeholder {
    color: var(--dark);
    font-style: normal;
    font-weight: bold;
}

header input:active {
    border-color: var(--grey);
}



/*--------------------------------------------SECTION "filtres"------------------------------------------------*/

.filtres {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0;
    padding-top: 20px;
}

.filtres h2 {
    margin-right: 30px;
}

.filtres ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;

}

.filtres li {
    margin-right: 50px;
    border: 1px solid var(--grey);
    border-radius: 20px 20px;
    padding: 10px 10px;
    font-weight: bold;
}

.filtres i {
    color: var(--blue);
}

.filtres li:hover {
    background-color: var(--blue2);
    cursor: pointer;
}

.filtres li:active {
    box-shadow: 0 8px 16px 0 var(--dark);
}

.fa-info {
    color: var(--blue);
    border: 1px solid var(--grey);
    padding: 5px 10px;
    border-radius: 15px 15px;
    margin-right: 5px;
}

/*-------------------------------------fin SECTION "filtres"-----------------------------------------*/
main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

main ul li {
    border: none;
}

.hebergement {
    background-color: var(--grey);
    display: flex;
    flex-wrap: wrap;
    border: 1px solid var(--white);
    border-radius: 30px;
    width: 68%;
    height: 682px;
}

.hebergement h2 {
    width: 90%;
    margin: 20px 0 10px 30px;
}

.hebergement a {
    width: 33%;
    text-decoration: none;
}

.hebergement ul {
    justify-content: space-around;

    margin-left: -30px;
    margin-right: 30px;
}

.carte-hebergement {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-bottom: 10px;
    border: 2px var(--white) solid;
    border-radius: 30px;
    width: 18.4vw;
    height: auto;
    background-color: var(--white);
}

.img-hebergement {
    object-fit: cover;
    border: 2px var(--white) solid;
    border-radius: 30px 30px 0 0;
    height: 120px;
    /* width: 18vw;*/
    align-items: center;
}


.description-carte h3 {
    margin: 11px 0 0 11px;
}

.description-carte p {
    margin: 9px 0 10px 12px;
}

.note-hebergement {
    margin: 12px 0 0 12px;
    padding-bottom: 5px;
}

.hebergement ul {
    display: flex;
    flex-wrap: wrap;
}

.description-carte {
    color: var(--dark);
}

.note-hebergement {
    margin: 12px 0 0 12px;
    text-decoration: none;
}

.note-hebergement .fa-star {
    color: var(--blue);
}

.note-hebergement .fa-star.gray {
    color: var(--grey);
}

.carte-hebergement:hover {
    box-shadow: 0 8px 16px 0 var(--dark);
}

.carte-hebergement:active {
    box-shadow: 0 10px 18px 0 var(--dark);
}



.afficher {
    padding-top: 30px;
    padding-left: 30px;
    padding-bottom: 30px;
    color: var(--dark);
    font-weight: bold;
}

/*--------------------------------------- Début main <article>---------------------*/
article {
    background-color: var(--grey);
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 680px;
    border: 1px solid var(--white);
    border-radius: 30px;
}

.fa-chart-line {
    color: var(--blue);
}

.plus-populaires h2 {
    padding-top: 5px;
    display: flex;
    justify-content: space-between;
    margin: 12px;
}


.img-populaires {
    display: flex;
    object-fit: cover;
    border: var(--white) 1px solid;
    border-radius: 30px 0 0 30px;
    padding: 2px;
    width: 40%;
    min-width: 30%;
    height: auto;
}

.plus-populaires a {
    box-sizing: border-box;
    text-decoration: none;
    color: var(--dark);
}

.carte-populaire {
    display: flex;
    margin: auto;
    margin-bottom: 40px;
    border: 1px var(--white);
    border-radius: 30px;
    width: 94%;
    height: 167px;
    background-color: var(--white) margin-right: 30px;
}

.texte-populaire {
    margin-left: 5px;
}

.texte-populaire p {
    padding-bottom: 10px;

}

.note-populaire {
    display: flex;
    align-items: flex-start;
    margin: auto;
    margin-top: 10px;
    /*margin-bottom: 12px;*/
}


.note-populaire .fa-star.blue {
    color: var(--blue);
}

.note-populaire .fa-star.gray {
    color: var(--grey);
}

.carte-populaire:hover {
    box-shadow: 0 8px 16px 0 var(--dark);
}

.carte-populaire:active {
    box-shadow: 0 10px 18px 0 var(--dark);
}

/*-----------------------------------------------Activité <aside> -----------------------*/

aside .activités {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

aside a {
    color: var(--dark);
    text-decoration: none;
}

.carte-activité {
    height: 430px;
    border: 1px var(--white) solid;
    border-radius: 20px 20px 20px 20px;
    margin: 0;
    box-shadow: 0 0 7px 0 var(--dark);
}

.img-activité {
    width: 22vw;
    height: 400px;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
}


.carte-activité:hover {
    box-shadow: 0 4px 8px 6px var(--dark);
    transition: 0.3s;
}

/*-----------------------------------------<footer>-------------------------*/

footer {
    margin-top: 70px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    background-color: var(--grey);
}

footer a {
    text-decoration: none;
    color: var(--dark);
}

footer ul {
    margin-left: -40px;
}

footer li {
    padding-top: 5px;
}

.intitule {
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 10px;
}


/*------------------------------------- responsive------------------------*/

@media screen and (max-width: 991px) {

    .filtres {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin: 0;
        padding-top: 10px;
    }

    .filtres li {
        font-size: x-small;
    }

    .filtres h2 {
        margin-right: 0;
    }

    /*----------------------hebergement-----------------*/

    .hebergement {
        width: 100%;
        height: auto;
    }

    .hebergement h2 {
        font-size: 100%;
        padding-top: 3px;
    }


    .hebergement ul {
        justify-content: space-around;
        margin-left: -5px;
    }

    .carte-hebergement {
        display: flex;
        flex-direction: column;
        margin: auto;
        margin-bottom: 10px;
        width: 25vw;
        height: 230px;
        margin-right: 3px;
    }

    /*.img-hebergement {
        object-fit: cover;
        height: 110px;
        width: 250px;
        align-items: center;
    }*/


    /*--------------------------------------- Début main <article>---------------------*/
    article {
        display: flex;
        margin-top: 25px;
        width: 100%;
        height: 300px;

    }

    .plus-populaires h2 {
        font-size: 100%;
    }

    .plus-populaires ul {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }

    .carte-populaire {
        display: flex;
        flex-direction: row;
        margin: auto;
        margin-bottom: 40px;
        width: 25vw;
        height: 140px;
        margin-right: 20px;
    }

    .img-populaires {
        width: 100px;
    }

    .texte-populaire h3 {
        font-size: 15px;
    }

    .texte-populaire p {
        font-size: 13px;
    }


    /*-----------------------------------------------Activité <aside> -----------------------*/
    aside {
        width: 100%;
    }

    aside .activités {
        display: flex;
        justify-content: space-around;
    }

    aside h2 {
        margin-top: 25px;
    }

    aside a {
        text-decoration: none;
    }

    .carte-activité {
        width: 22vw;
        height: 200px;
        margin-bottom: 200px;

    }


}


@media screen and (max-width: 767px) {

    body {
        width: auto;
        height: auto;
    }

    nav {
        text-align: center;
    }

    nav img {
        display: block;
        margin: 0 auto;
        margin-bottom: 20px;
        position: relative;
    }

    nav ul {
        display: inline-block;
        margin: 0 auto;
        padding: 0;
        list-style: none;
        white-space: nowrap;
    }

    nav li {
        display: inline-block;
        margin: 0 5px 0 2px;
        position: relative;
    }

    nav a {
        text-decoration: none;
        padding: 0 40px 15px 40px;
    }


    /* nav {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    nav img {
        margin-left: 5%;
        margin-bottom: 20px;
    }

    nav ul {
        width: 100%;
        margin-right: 50px;
    }

    nav li {
        width: 30%;
        text-align: center;
        padding-right: 20px;
    }*/



    nav a:hover,
    nav a:focus {
        border-top: none;
        padding-bottom: 15px;
        border-bottom: 2px solid var(--blue);

    }


    /*----------------------<header>-----------*/

    header .post {
        font-size: auto;
    }


    header input {
        width: 40vw;
    }

    .desktop-button {
        display: none;
    }

    .mobile-button {
        display: inline;
        position: relative;
        right: 20px;
        border: none;
        border-radius: 0 15px 15px 0;
        padding: 15px;
        font-size: 16px;
        cursor: pointer;
        background-color: var(--blue);
        color: var(--white);
    }

    /*----------------------<section> filtres--------------*/
    .filtres {
        margin-right: 20px;
        flex-direction: column;
    }

    .filtres h2 {
        margin-right: 100%;
    }

    .filtres ul {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, auto);
        grid-gap: 10px;
        margin-top: 20px;
        margin-left: -50px;
    }

    .filtres li {
        width: 75%;
    }

    .filtres li b {
        font-size: larger;
        padding-left: 5px;
    }


    /*----------------------main------------------*/
    main {
        width: 100%;
        margin-left: -19px;
        margin-right: -10px;
        padding: 0%;
        display: flex;
        flex-direction: column-reverse;
    }

    /*-----------------------------Le plus populaires-------------------*/
    article {
        height: 600px;
        margin-bottom: 10px;
        margin: 0;
        width: unset;
        width: 100%;
        padding-left: -10px;
        padding-right: 50px;
        padding-bottom: 10px;
        border-radius: unset;
        background-color: var(--grey);

    }

    .plus-populaires {
        margin-right: 8px;
        border-radius: none;
        width: 100%;
    }

    .plus-populaires h2 {
        padding-left: -15px;
    }

    .plus-populaires ul {
        display: flex;
        flex-direction: column;
        margin-left: 20px;
        margin-right: 10px;
        width: 95vw;
        /* margin-right: 30%;
        width: 85%;*/
    }

    .plus-populaires ul li {
        width: 100%;

    }

    .texte-populaire {
        box-sizing: content-box;
        font-size: 80%;
    }

    .carte-populaire {
        width: 100%;
        height: 147px;
        margin-left: -50px;
    }

    .carte-populaire img {
        width: 150px;
    }


    /*--------------------------hebergements-----------------------------------*/

    .hebergement {
        width: 100%;
        background-color: inherit;
        border: none;

    }

    .hebergement ul {
        margin-right: 10px;
        padding: 0;
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        flex-direction: column;

    }

    .carte-hebergement {
        margin-left: 5px;
        margin-bottom: 10vw;
        width: 98vw;
        height: 300px;
        box-shadow: 0 0 7px 0 var(--dark);
    }

    .carte-hebergement img {
        object-fit: cover;
        width: 97.5vw;
        /*height:90vw*/
        height: 200px;
    }


    .description-carte {
        font-size: ;
        box-sizing: content-box;
    }

    .afficher {
        display: none;
    }


    /*-------------------------activités-------------------*/


    aside .activités {
        display: flex;
        flex-direction: column;

    }

    .carte-activitéa {
        margin-right: 10px;
    }

    .carte-activité {
        width: 90vw;
        height: 58vw;
        box-shadow: 0 0 7px 0 var(--grey);
        margin-bottom: 50px;
    }

    .carte-activité img {
        width: 90vw;
        height: 50vw;
    }

    .titre {
        padding-left: 3px;
        font-size: 3vw;
    }


    /*-------------------footer------------*/

    footer {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding-left: 20px;
    }


}